<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
	    <div class="navbar-header">
	        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </button>
	        <a href="#" class="navbar-brand">MyLrc</a>
	    </div>
	    <div class="navbar-collapse collapse" id="navbar">
	        <ul class="nav navbar-nav navbar-right">
	        	<li><a href="">{{username}}</a></li>
	            <li><a ui-sref="main.home" href="">Home</a></li>
	            <li ng-if="list.length >=1 "><a ui-sref="main.preasure.list" href="">List</a></li>
	            <li ng-if="list.length < 1 "><a ui-sref="main.empty" href="">List</a></li>
	            <li><a href="" ng-click="logout()">Logout</a></li>
	        </ul>
	    </div>
	</div>
</nav>
<div ui-view="main">
</div>
<div ng-if="alertShow == true">
	<div class="alert-shadow"></div>
	<div class="alert alert-warning alert-dismissible ">
		<p class="alert-text">
			<strong>Warning!  Are u sure?</strong>
		</p>
  		<div class="alert-btn-container">
  			<div class="alert-btn">
  				<button class="btn" type="button" ng-click="logoutSure()">Yes</button>
  				<button class="btn" type="button" ng-click="logoutClear()">No</button>
  			</div>
  		</div> 
	</div>
</div>
